/* remove branding */
img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] { display: none;}

body {
	font-family:'Raleway',sans-serif;
}
/* latin-ext */
@font-face {
	font-family: 'Fjalla One';
	font-style: normal;
	font-weight: 400;
	src: local('Fjalla One'), local('FjallaOne-Regular'), url(../fonts/Yq6R-LCAWCX3-6Ky7FAFrO96kigt.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Fjalla One';
	font-style: normal;
	font-weight: 400;
	src: local('Fjalla One'), local('FjallaOne-Regular'), url(../fonts/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(../fonts/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(../fonts/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(../fonts/1Ptrg8zYS_SKggPNwIouWqhPAMif.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(../fonts/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.demo-card-header-pic .card-header {
	height: 50vw;
	background-size: cover;
	background-position: center;
}
.textogrande {
	font-size: 120%;
	font-weight: 100;
}
.textopequeño {
	font-size: 85%;
}
.nombrecientifico {
	font-size: 8vw;
	font-weight: 800;
	text-align: center;
}
.centro {
	text-align: center;
}
.chippeque {
	font-size: 140%;
}
.media-list img {
	object-fit: cover;
	width:80px;
	height:80px;
}
.media-list-mini img {
	object-fit: cover;
	width:40px;
	height:40px;
}		   
.navbar .right, .subnavbar .right {
    margin-right: 20px;
}
.chip-media {
    margin-left: 0px;
}
.chip {
	padding: 0;
	font-size: 11px;
}
.chip-label{
	min-width: 32px;
	text-align: center;
}
.navbar-fixed .toolbar-fixed .page-content {
	padding-top: 55px;
}
.navbar .center {
	width: 100%;
}
.navbar .right:first-child, .subnavbar .right:first-child {
    right: 0px;
}
.justificado {
	text-align: justify;
	hyphens: none;
}
.gris-claro {
	background-color: #EEEEEE;
}
.card {
	margin: 0px;
}
.card-titulo {
	font-size: 140%;
}
.list-block .item-after {
	max-height: 20px;
}
.list-block.media-list .item-media img {
    border-radius: 5px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex-center p {
  margin: 0;
}
.flex-center ul {
  text-align: center;
}
.flex-center ul li {
  margin-bottom: 1rem;
}
.animation1 {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}
.animation2 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}
.animation3 {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.animation4 {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}
.boton-inicio {
	margin-left: auto;
	margin-right: auto;
}
.meses .button {
	font-size: 0.65em;
	height: 30px;
	line-height: 30px;
	min-width: 0%;
	padding: 0;
	margin-left: 0px;
    width: 100%;
	border-radius: 0px;
	text-overflow: initial;
}
.estado {
	height: 100%;
}
.estado .button {
	height: 16vw; 
    border-radius: 50%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
    margin-left: auto;
	margin-right: auto;
	min-width: 47px;
	line-height: 14vw;
	max-width: 60px;
	max-height: 60px;
	text-overflow: initial;
}
.demo-swiper .swiper-slide {
	font-size: 25px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	color: #000;
}
.demo-swiper .swiper-slide {
	box-sizing: border-box;
	background: #fff;
}
.demo-swiper {
	font-size: 18px;
	height: 120px;
}
.panel {
	width: 85vw;
}
body.with-panel-right-reveal .views {
	-webkit-transform: translate3d(-85vw, 0, 0);
	transform: translate3d(-85vw, 0, 0);
}
body.with-panel-right-reveal .panel-overlay {
	-webkit-transform: translate3d(-85vw, 0, 0);
	transform: translate3d(-85vw, 0, 0);
}
.topleft {
	position: absolute;
	bottom: 8px;
	left: 16px;
	font-size: 2vw;
}
.list-block ul::after {
	height: 0px;
}
.list-block ul::before {
	height: 0px;
}
.popover-menu {
	width: 180px;
	top: 22px !important;
}
.popover-estado {
	top: 35% !important;
	left: 0% !important;
	width: 100%;
}
.lista-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}
.chips-lista .chip {
	height: 5vw;
	line-height: 5vw;
	font-size: 1.5vw !important;
}
.chips-lista .chip-media {
	font-size: 2vw !important;
	width: 5vw;
	height: 5vw;
}
.chips-lista .chip-label {
	min-width: 5vw;
}
.card-footer {
	font-size: 2.5vw;
}
@media (min-width: 768px){
	.lista-card-header-pic .card-header {
		height: 23vw;
		background-size: cover;
		background-position: center;
	}
	.chips-lista .chip {
		height: 3vw;
		line-height: 3vw;
		font-size: 1vw !important;
	}
	.chips-lista .chip-media {
		font-size: 1vw !important;
		width: 3vw;
		height: 3vw;
	}
	.chips-lista .chip-label {
		min-width: 3vw;
	}
	.copyright {
		font-size: 0.5em;
	}
	.card-footer {
		font-size: 1.5vw;
	}
}
@media (min-width: 1200px){
	.lista-card-header-pic .card-header {
		height: 20vw;
		background-size: cover;
		background-position: center;
	}
	.chips-lista .chip {
		height: 3vw;
		line-height: 3vw;
		font-size: 1vw !important;
	}
	.chips-lista .chip-media {
		font-size: 1vw !important;
		width: 3vw;
		height: 3vw;
	}
	.chips-lista .chip-label {
		min-width: 3vw;
	}
	.copyright {
		font-size: 0.5em;
	}
	.desktop-10 {
		width: 16% !important;
	}
	.card-footer {
		font-size: 1.5vw;
	}
}
.chip {
	border-radius: 25px;
}
.copyright {
	font-size: 0.5em;
}
.animationcards {
	-webkit-animation-duration: .1s;
	animation-duration: .1s;
}